body{margin:8px auto;max-width:32em;padding:0 8px;}
pre{overflow-x:auto;}
div p{text-indent:2em;margin-top:0;margin-bottom:0}
div p:first-child{text-indent:0;}
h1{text-align:center;}
.next{text-align:center;font-size:1.5em;}
