@import url(margins1.css);
body {
	color : #000000; 
	background-color : #ffffff; 
	font-family : serif ;
} 

.leftcol , .rightcol {
	color : #000000; 
	background-color : #e0e0e0; 
}

a:link {
	color : #000080; 
	background : transparent; 
} 
a:visited {
	color : #000000; 
	background :  transparent; 
} 
a:active {
	color : #ff0000; 
	background :  transparent; 
} 
a:hover {
	color :  #ffffff ; 
	background : #000080; 
} 
hr {
	color : #000000; 
	background : #000000; 
	border-color : black;
} 
pre { 
	color : #000000;
	background : #e0e0e0;
}
table.p, table.code {
	background-color : #000000; 
	color : #ffffff; 
}
table.p th ,table.code th {
	color : #000000; 
	background-color : #eeeeee; 
}
table.p td, table.code p {
	color : #000000; 
	background-color : #ffffff; 
}

div.section {
	border-bottom : solid 3px ;
}


