/************
 * HTML Minimums
 ************/
div.leftcol      { position:absolute; align:left; width:20%; margin-left:0%;  }
div.centercol    { position:absolute; align:left; width:60%; margin-left:20%; }
div.rightcol     { position:absolute; align:left; width:20%; margin-left:80%; }
div.widerightcol { position:absolute; align:left; width:80%; margin-left:20%; }

td.rightcol, td.leftcol, td.centercol {
	vertical-align: top;
}
td.rightcol, td.leftcol {
	width : 20% ;
	text-align : left;
}
pre {
	white-space : pre;
	font-family: monospace;
}

/************
 * HAL's BASICS
 ************/
.small-center {
	text-align : center;
	font-size : 80%;
}
.centered {
	text-align : center;
}
.center-verse {
	text-align : center;
	font-style: italic;
}
.rightside {
	text-align : right;
}

body {
	padding-top : 0px;
	padding-right : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	margin : 0 0 0 0;
}
a:link, a:visited, a:active a:hover {
	text-decoration : underline;

}

/************
 * SIMPLIFIED MARGINS
 ************/

.leftcol p, .rightcol p,
.leftcol h2, .rightcol h2,
.leftcol h3, .rightcol h3 {
	padding-left : 10px;
	padding-right : 10px;
}

.blog hr {
	margin-left : 20px;
	margin-right : 20px;
}
p,dl {
	padding-left :  10px;
	padding-right : 10px;
}
h1 {
	padding-left : 10px;
	padding-right : 10px;
}
h2 {
	padding-left : 10px;
	padding-right : 10px;
	margin-left : 0
	margin-right : 0;
}
h3 {
	padding-left : 10px;
	padding-right : 10px;
	margin-left : 0
	margin-right : 0;
}
pre{
	padding: 5px;
}
ul,ol {	margin-left : 17mm;
	margin-right : 17mm;
	padding-left: 0;}

li ul,li ol {
	margin-left : 7mm;
	margin-right : 7mm; }

li {	display: list-item;
	margin-left : 0;
	margin-right : 0; }
table {
	margin : 0 ;
	padding : 0 ;
	border-width:0;
	border-spacing:0;
}
td {
	margin : 0 ;
	padding : 0 ;
}

table.code {
	border : solid black 1px;
	border-collapse : collapse;
	margin-left:2em;	
	margin-right : 0 ;
	padding : 0 ;
}
table.code tr th,table.code tr td {
	text-align: left;
	border : solid black 1px;
}
table.code tr td {
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}
table.code tr th {
	margin : 0 0 0 0;
	padding : 4px 8px 4px 8px;
}
table.code tr td pre {
	margin : 0 0 0 0;
	padding : 4px 8px 4px 8px;
}

table.p {
	border-collapse : collapse;
	border : solid black 1px;
	margin-left:2em;	
}
table.p td , table.p th {
	border : solid black 1px; 
	padding: 5px 5px 5px 5px;
}
table.p th {	align : center; }

p.blog-notes { text-align : center; }



/* -------------------------- */

div.widerightcol,div.centercol, div.leftcol, div.rightcol {
}
div.section , div.banner{
	border : 1px solid #808080;
	margin : 5px;
	clear : both;
}
div.blog, div.subsection{
	border-bottom : 1px solid #808080;
	clear : both;
}
hr.blogsep, hr.subsectionsep {
	display: none;
}
p.blog-notes { clear:both; }
.blog p img {
	margin: 4px;
	float: left; }
.blog p img.fn {	float: none;	margin: 0;}
img.fl {	float: left;	margin: 4px;}
img.fr {	float: right;	margin: 4px;}
